.logo-title {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100px;
  height: 100px;
}

h1 {
  color: rgb(44, 34, 184);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.upper-menu {
  background-color: aliceblue;
  display: flex;
  align-items: flex-start;
}

.upper-menu a {
  text-decoration: none;
}

.messages {
  display: block;
  float: right;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a:active {
  background-color: black;
}
